.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.movieDetail {
  align-content: center;
  padding: 250px;
  width: 100%;
  padding-top: 70px;
}

@media screen and (max-width: 1090px) {
  .movieDetail {
    width: 80%;
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 100px;
  }
}
